@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');
.app__bg-home {
  font-family: 'Nunito', sans-serif;
  background-color: #304d50!important;
  color: #fff;
}

*{
    font-family: 'Nunito', sans-serif;
}

.App {
  min-height: 100vh;
}

h1 {
  font-weight: bold;
}

.nav-link {
  color: #fff !important;
}

.navbar-nav .nav-link:hover {
  color: #CEDFC3 !important;
}

@media(max-width:768px){
    .app__home-mobile {
        margin-top: 100px!important;
    }

    .mobile-break {
        display: inline;
      }
}
  
  @media (min-width: 769px) {
    .mobile-break {
      display: block;
    }
  }
  

.app__home-color span{
    color: #CEDFC3 !important;
}

.app__home-color a {
    background-color: #CEDFC3 !important;
    border-radius: 20px;
    padding: 10px 20px; 
}

.login-text{
    border-radius: 20px;
    padding: 10px 20px;  
}
