.whatsapp-widget {
    position: fixed;
    bottom: 85px;
    right: 22px;
    z-index: 1000;
}

.whatsapp-button {
    background-color: #25d366;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.whatsapp-button:hover {
    background-color: #20b358;
}